:root {
  --gradient-blue: #b7d7ff;
  --gradient-mid: #ecf8f9;
  --gradient-yellow: #ffe9c9;
  --vic-blue: #3c4596;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.image {
  flex: 1;
  min-width: 99px;
  display: inline-block;
}

.container {
  object-fit: fill;
  justify-content: flex-start;
  width: auto;
  height: 707px;
  display: flex;
  position: relative;
}

.div-block {
  aspect-ratio: auto;
  object-fit: fill;
  width: auto;
  display: flex;
}

.section {
  background-image: linear-gradient(180deg, var(--gradient-blue), var(--gradient-mid) 51%, var(--gradient-yellow));
  height: 1310px;
}

.body {
  background-color: #fff;
}

.container-2 {
  mix-blend-mode: normal;
  background-image: url('../images/mountainsnobg.svg');
  background-position: 50% 100%;
  background-size: cover;
  border-radius: 0;
  justify-content: center;
  align-items: stretch;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  transition: color .2s, background-color .2s;
  display: flex;
}

.navbar {
  background-color: var(--vic-blue);
}

.brand {
  display: flex;
}

.container-3 {
  aspect-ratio: auto;
  flex-flow: row;
  min-width: 100%;
  display: flex;
  position: static;
}

.image-2 {
  width: 130px;
  margin: 13px 25px 19px;
  padding: 0;
}

.nav-menu {
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
  display: flex;
}

.div-block-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.nav-link, .nav-link-2, .nav-link-3 {
  color: #fff;
}

.container-4 {
  grid-column-gap: 55px;
  grid-row-gap: 55px;
  background-image: linear-gradient(#fff, #fff0);
  border-radius: 100px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 80%;
  max-width: 80%;
  margin-top: 89px;
  padding: 98px;
  display: flex;
}

.heading {
  color: var(--vic-blue);
  text-align: center;
  overflow-wrap: normal;
  justify-content: center;
  align-items: center;
  font-family: Lato, sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 85px;
  display: flex;
}

.button {
  color: var(--vic-blue);
  background-color: #fff;
  border-radius: 10px;
  font-weight: 700;
}

.button-2 {
  border: 2px solid var(--vic-blue);
  color: var(--vic-blue);
  background-color: #3898ec00;
  border-radius: 20px;
  font-size: 20px;
  transition: color .4s cubic-bezier(0, .549, .25, 1), background-color .4s cubic-bezier(0, .473, .25, 1);
}

.button-2:hover {
  background-color: var(--vic-blue);
  color: #fff;
}

.paragraph {
  color: #fff;
}

.div-block-3 {
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-3 {
  width: 337px;
  margin-right: 94px;
  padding-right: 0;
}

.bold-text {
  color: var(--vic-blue);
  white-space: normal;
  word-break: normal;
  overflow-wrap: anywhere;
  margin-right: 35px;
  font-weight: 400;
  display: flex;
  position: static;
}

.paragraph-2 {
  font-family: Lato, sans-serif;
  font-size: 28px;
  line-height: 34px;
}

.section-2 {
  background-image: url('../images/white-cutoff-website.svg'), linear-gradient(180deg, #343081, var(--vic-blue));
  background-position: 50% 100%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: auto, auto;
  height: 996px;
}

.heading-2 {
  color: #fff;
  text-align: center;
  margin-top: 91px;
  font-family: Lato, sans-serif;
  font-size: 70px;
  line-height: 91px;
}

@media screen and (max-width: 479px) {
  .heading {
    font-size: 80px;
  }
}


